
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Choice Corporation Error Page">
    <meta name="author" content="Seckin Umur">
    <link rel="icon" href="~/images/favicon.png">
    <title>Choice Admin Control Systems V.1.5</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/cover.css" rel="stylesheet" />
    <link href="~/Content/css/highlight.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/highlight.min.js"></script>
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Choice Corporation</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="~/View/BeyazSayfa">Beyaz Sayfa</a></li>
                                <li><a href="https://github.com/seckinumur/ChoiceECommerceSystems-ProjectMercury" target="_blank">Github</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="inner cover">
                    <h1 class="cover-heading">Hata Sayfası (Gri Ekran)</h1>
                    <p class="lead">(500) Sunucu Yanıt Vermiyor!</p>
                    <hr class="white-backgorund" />
                    <p class="lead">
                        @TempData["Hata"]
                    </p>
                    <hr />
                    <h6>Geliştiriciler İçin Hata Kodu: @TempData["HataKodu"]</h6>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>Powered By <a href="https://seckinumur.com" target="_blank">Choice Corp.</a> ©2017 All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>