
@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Choice Admin Control Systems V.1.5 <button class="btn btn-success" data-toggle="modal" data-target="#Comar"><i class="fa fa-paw"></i> Çomar Yardım</button></h1>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-red">
                <div class="panel-heading">
                    505 Hata Sayfası
                </div>
                <div class="panel-body">
                    <p>
                        Oopss.! Bir şeyler ters gitti... <strong>GÜVENLİ MOD</strong> V.1.7 Choice Protect Sysytems
                        <hr />
                        Server Geç yanıt veriyor yada server öngürülemeyen bir hatadan kurtarıldı.
                        <strong style="color:red;">Çalışan En Son Veritabanınız Kurtarıldı Ve yedeklendi v.1.0.2 Choice Database Recovery Systems</strong>
                        <hr />
                        <strong>****DEBUG**** 2016 V.0.3 (ALPHA) CHOICE C# MVC DEBUGGER SYSTEMS ALL RIGHTS RESERVED</strong>
                        <hr />
                        @TempData["Hata"] / Hata Kodu: @TempData["HataKodu"] <br />
                        Lütfen geliştiriciyle irtibata Geçin.
                    </p>
                </div>
                <div class="panel-footer">
                    <a href="~/Admin/Admin">GÜVENLİ MOD'DAN ÇIKIŞ YAP</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Comar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">ÇOMAR AI V.1.2 (ALPHA)</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            ÇOMAR YARDIM
                        </div>
                        <div class="panel-body">
                            <p>
                                Merhaba! Ben SiteRobotu Çomar. Bu Sayfayı Görmenizin Sebebi İnternet Bağlantı Hızınız Yeterli Seviyede Değil
                                Yada İnternetiniz Kopmakta veya Server Bir İşlemi Gerçekleştiremedi ve Ona Ayrılan dinleme Süresi Doldu.
                                Eğer Kritik Bir Hata Olmuş Olsa Bile Database Zarar Görmedi. Database Kurtarma İşlemi Başarıyla Sonuçlandı.
                                Ve Hata Sayfasını Gördünüz. Bu sayfa Sitenin Veritabanı Başarıyla Kurtardığının İspatıdır.
                                Bundan Sonraki Adımınız Bu sayfadan Çıkmak.
                                Eğere Bu Sayfayı son günlerde Çok Sık Görmeye Başladıysanız Lütfen Geliştiriciyle İrtibata Geçin.
                            </p>
                        </div>
                        <div class="panel-footer">
                            Şimdi Güvenli Modu Kapatalım....
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>